@media screen and  (max-width: 767px) {
    .grid-container {
      display: grid ;
      grid-template-columns: 1fr;
      padding: 10px;
      background-color: #2196F3;
      gap: 15px;
    }
    
  
        
   

        

    
   
    
}